<div class="container mt-2">
    <div *ngIf="orders.length == 0">
      You have no orders
    </div>
    <div *ngIf="orders.length > 0">
      <div class="pb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 py-5 mb-1">
                <ng-container *ngIf="orders.length > 0">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="border-0" scope="col">
                              <div class="p-2 px-3 text-uppercase">Order</div>
                            </th>
                            <th class="border-0" scope="col">
                              <div class="py-2 text-uppercase">Date</div>
                            </th>
                            <th class="border-0" scope="col">
                              <div class="py-2 text-uppercase">Total</div>
                            </th>
                            <th class="border-0" scope="col">
                              <div class="py-2 text-uppercase">Status</div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of orders" routerLink="/orders/{{order.id}}">
                            <td class="align-middle">
                              <strong>{{ "#" + order.id }}</strong>
                            </td>
                            <td class="align-middle">
                              <div
                                class="d-flex align-items-center"
                              >
                                {{order.orderDate}}
                              </div>
                            </td>
                            <td class="align-middle">
                              {{order.total | currency : "EUR" }}
                            </td>
                            <td class="align-middle">
                                {{order.status}}
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  